    div#sib_embed_signup .needsfilled input {
        border-color: #B94A48 !important;
        color: #B94A48 !important;
    }

    div#sib_embed_signup .needsfilled {
        color: #B94A48 !important;
    }

    div#sib_embed_signup input[type="text"] {
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    div#sib_embed_signup input[type=number]::-webkit-inner-spin-button,
    div#sib_embed_signup input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }

    div#sib_embed_signup input[type=number] {
        -moz-appearance: textfield;
    }

    div#sib_embed_signup div.message_area {
        position: relative;
        padding: 10px 30px 10px 10px;
        margin: 0px 0px 10px 0px;
        font-size: 14px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-sizing: border-box;
        font-family: Vazir;
        direction: rtl;
        text-align: right;
    }

    div#sib_embed_signup div.message_area button.close {
        position: absolute;
        right: 8px;
        top: 8px;
        color: inherit;
        background: 0 0;
        border: 0;
        padding: 0px;
        -webkit-appearance: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
    }

    .tipicon {
        cursor: pointer;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.2;
        color: #fff;
        text-align: center;
        vertical-align: baseline;
        background-color: #999;
        border-radius: 10px;
        text-decoration: none;
    }

    .tooltip {
        display: inline;
        position: absolute;
        left: 97%;
    }

    .tooltip:hover:after {
        background: #333;
        background: rgba(0, 0, 0, .8);
        border-radius: 5px;
        color: #fff;
        content: attr(data-title);
        right: -2px;
        bottom: 26px;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 220px;
    }

    .tooltip_small:hover:after {
        padding: 5px 5px;
        width: 150px;
    }

    .tooltip:hover:before {
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 1px;
        position: absolute;
        z-index: 99;
    }

    .sib-dropdown-menu.flag-icon {
        display: none;
        height: 100px;
        overflow-x: inherit;
        min-width: 230px;
        font-size: 13px;
        list-style: none;
        padding-left: 14px;
        border: 1px solid rgba(0, 0, 0, .15);
        background: white;
        border-radius: 4px;
        margin-top: 10px;
    }

    .sib-dropdown-menu.flag-icon li {
        margin-bottom: 1px;
    }

    .sib-dropdown-menu.flag-icon li a {
        display: inline-flex;
        white-space: nowrap;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: none;
    }

    .sms_field .country-block {
        margin-right: 3px !important;
        float: left;
        width: 68px !important;
    }

    .icon-arrow {
        display: inline-block;
        width: 0px;
        height: 0px;
        margin-left: 2px;
        margin-top: 15px;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        vertical-align: middle;
    }

    .sib-dropdown-toggle.country-flg {
        display: inline-block;
        font-size: 13px;
    }

    #sms_prefix {
        font-size: 11px !important;
    }

   

    body {
        background-color: #dcdcdc;
    }

    div#sib_embed_signup .sib-container {
        background: rgba(252, 252, 252, 1);
    }

    div#sib_embed_signup .sib-container h1 {
        font-family: Vazir, 'Century Gothic', 'Apple Gothic', sans-serif;
    }

    div#sib_embed_signup h1.title {
        font-size: 45px;
    }

    div#sib_embed_signup .sib-container .forms-builder-footer,
    div#sib_embed_signup .sib-container .description,
    div#sib_embed_signup .sib-container .fake-label,
    div#sib_embed_signup .sib-container .row,
    div#sib_embed_signup .sib-container #company-name {
        font-family: Vazir, 'Century Gothic', 'Apple Gothic', sans-serif;
    }

    div#sib_embed_signup .forms-builder-footer,
    div#sib_embed_signup div.description,
    div#sib_embed_signup .fake-label,
    div#sib_embed_signup .row {
        font-size: 17px;
    }

    div#sib_embed_signup .sib-container .button {
        font-family: Vazir, 'Century Gothic', 'Apple Gothic', sans-serif;
    }

    div#sib_embed_signup .button {
        font-size: 14px;
    }

    div#sib_embed_signup .sib-containter h1 {
        color: #232323;
    }

    div#sib_embed_signup .sib-container {
        color: #343434;
    }

    div#sib_embed_signup .sib-container .button {
        color: #ffffff;
    }

    div#sib_embed_signup .sib-container .button {
        background: #050505;
    }

    div#sib_embed_signup .forms-builder-wrapper {
        max-width: 540px;
    }

    div#sib_embed_signup .sib-container {
        padding: 40px 20px 20px;
    }

    div#sib_embed_signup .header {
        padding: 0 20px;
        text-align: center;
    }

    div#sib_embed_signup h1.title {
        lineHeight: 50px;
    }

    div#sib_embed_signup h3.company-name {
        lineHeight: 35px;
    }

    div#sib_embed_signup div.description {
        padding: 0 20px 15px;
        text-align: center;
    }

    div#sib_embed_signup div.row {
        padding: 10px 20px;
    }

    div#sib_embed_signup input[type=text] {
        padding: 10px 4px;
        width: 100% !important;
        box-sizing: border-box;
    }

    div#sib_embed_signup input[type=number] {
        padding: 10px 4px;
        width: 100% !important;
        box-sizing: border-box;
    }
    body {
            background-color: #F9A826;
            direction: rtl;
        }
 
